In [4]:
from get_sample import get_sample
from get_tfidf_df import get_tfidf_df
from get_category_df import get_category_df
from get_merged_df import merge_df
from plot_learning_curve import plot_learning_curve
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score
import pandas as pd

In [5]:
X_train, X_test, y_train, y_test = get_sample(cutoff=10000, test_size=0.33)

In [6]:
train_tfidf_df, test_tfidf_df = get_tfidf_df(['name', 'item_description'], X_train, X_test, min_df=3, max_df=0.1)

# train_tfidf_df, test_tfidf_df = get_tfidf_df(X_train, X_test, min_df=1, max_df=1.0)

In [ ]:
train_category_df, test_category_df = get_category_df(X_train, X_test)

In [ ]:
tfidf_model = KNeighborsRegressor(n_neighbors=5)
 
tfidf_model.fit(train_tfidf_df, y_train)
tfidf_predictions = tfidf_model.predict(test_tfidf_df)

In [ ]:
category_model = KNeighborsRegressor(n_neighbors=10)

category_model.fit(train_category_df, y_train)
category_predictions = category_model.predict(test_category_df)

In [ ]:
average_prices = []

for i in range(len(tfidf_predictions)):
    price = 0

    charas = len([val for val in train_tfidf_df.iloc[i].values if val > 0])

    if charas > 5:
        price = (tfidf_predictions[i] + category_predictions[i]) / 2
    else:
        price = category_predictions[i]


    average_prices.append(price)

,item name,desc,actual price,predicted price 2
6252,N64 super mario 64 (label stain),Great item great price shipped securely Free s...,21.0,5.488234
4684,Jordan 9c Retro Gamma 11s,Size 9c Gamma gamma retro 11s. Used but no abs...,29.0,61.635890
1731,5 Pair of Lashes + Lash Tweezers,Perfect for the False Eyelash Beginner! ⭐️This...,7.0,16.564876
4742,Bundle for LizKay,GB Girls size 10. Fits like size 8. Great used...,40.0,33.459250
4521,New Balance Minimus size 8 - women,Good used condition. Very comfy shoe ladies sh...,16.0,24.865133
...,...,...,...,...
1744,NWT VS PINK FLAT LEGGING BLING,Brand new with tags VS PINK FLAT LEGGING WITH ...,54.0,29.325092
9754,Adidas Ortholite Girls 7c,Adidas Ortholite Girls 7 toddler.,16.0,27.979986
6094,NWT Victoria's Secret plunge bra,NWT Victoria's Secret lightly lined plunge bra...,25.0,21.435821
8781,Lularoe 2xl Carly blue,Bnwt Make sure you check out my other listings...,40.0,31.535824
9401,Dungeons & Dragons Book,"Never used. D&D ""Dungeon Master's Guide""",28.0,10.473143

In [ ]:
pd.DataFrame({"item name": X_test['name'], 'desc': X_test['item_description'], "actual price": y_test, "cat prediction": category_predictions, "tfidf prediction": tfidf_predictions})

,item name,desc,actual price,cat prediction,tfidf prediction
521,Boots,Black timberland boots Size 7 boys/men,74.0,18.0,28.4
737,Rae Dunn oval plates (hold for Melissa),"4 oval plates, each with a different saying.on...",36.0,26.3,27.2
740,Women's bomber jacket size small,Super cute color women's forever 21 bomber jac...,17.0,75.8,23.4
660,Undefeated T-Shirt,Like new condition Quality material Staple piece,19.0,17.1,18.6
411,My little pony Friendship is magic set,New in box. Box is little damaged on top other...,15.0,25.8,21.6
...,...,...,...,...,...
506,Brandy Melville holo sticker bundle,Brandy Melville stickers ✨ holo alien sticker ...,3.0,46.0,8.2
342,Stainless Steel Window Canister Set,"LhAll in great condition, hardly used",19.0,38.1,33.8
485,Jordan Toddler 5c,Jordan Toddler 5c White Boy/Girl,20.0,19.6,17.2
711,Fairy Tales Lice Prevent Condition Spray,Brand New Fairy Tales Lice Prevention Conditio...,12.0,15.5,12.6
133,. BBW Mentha Lip Balms,5 BBW lip balms and 1 Victoria's Secret sugar ...,21.0,19.6,16.8