In [34]:
import pandas as pd
import py7zr
from sentence_processing import process_sentence

In [35]:
# Extract tsv files
with py7zr.SevenZipFile('data/train.tsv.7z', mode='r') as z:
    z.extract(path="data")
with py7zr.SevenZipFile('data/test.tsv.7z', mode='r') as z:
    z.extract(path="data")

In [36]:
full_df = pd.read_csv("data/train.tsv", sep='\t')

In [37]:
data_df = full_df.drop('shipping',axis=1)
data_df = data_df.dropna()
# Only using the instances reuired for test/train
data_df.head()

,train_id,name,item_condition_id,category_name,brand_name,price,item_description
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,Adorable top with a hint of lace and a key hol...
6,6,Acacia pacific tides santorini top,3,Women/Swimwear/Two-Piece,Acacia Swimwear,64.0,Size small but straps slightly shortened to fi...
7,7,Girls cheer and tumbling bundle of 7,3,Sports & Outdoors/Apparel/Girls,Soffe,6.0,You get three pairs of Sophie cheer shorts siz...
8,8,Girls Nike Pro shorts,3,Sports & Outdoors/Apparel/Girls,Nike,19.0,Girls Size small Plus green. Three shorts total.

In [38]:
for col in data_df:
    print(col," : ", data_df[col].nunique())

train_id  :  846982
name  :  695132
item_condition_id  :  5
category_name  :  914
brand_name  :  4791
price  :  796
item_description  :  751827

In [39]:
# Combining descriptive data to one column
data_df['description'] = data_df[['name', 'brand_name', 'item_description']].agg(' '.join, axis=1)
data_df = data_df.drop(['name', 'brand_name', 'item_description', 'train_id'], axis=1)
data_df['description'] = data_df['description'].str.split()
data_df

,item_condition_id,category_name,price,description
1,3,Electronics/Computers & Tablets/Components & P...,52.0,"[Razer, BlackWidow, Chroma, Keyboard, Razer, T..."
2,1,Women/Tops & Blouses/Blouse,10.0,"[AVA-VIV, Blouse, Target, Adorable, top, with,..."
6,3,Women/Swimwear/Two-Piece,64.0,"[Acacia, pacific, tides, santorini, top, Acaci..."
7,3,Sports & Outdoors/Apparel/Girls,6.0,"[Girls, cheer, and, tumbling, bundle, of, 7, S..."
8,3,Sports & Outdoors/Apparel/Girls,19.0,"[Girls, Nike, Pro, shorts, Nike, Girls, Size, ..."
...,...,...,...,...
1482525,2,Women/Underwear/Bras,7.0,"[Red, Victoria's, Secret, bra, w, sequins, PIN..."
1482528,2,Women/Athletic Apparel/Sports Bras,18.0,"[Victoria's, Secret, Tankini, Sz., Large, Vict..."
1482529,2,Men/Athletic Apparel/Shirts & Tops,34.0,"[Men's, UA, [rm], Under, Armour, [rm], for, th..."
1482530,2,Women/Dresses/Mid-Calf,20.0,"[Free, People, Inspired, Dress, Free, People, ..."
1482531,2,Kids/Girls 2T-5T/Dresses,14.0,"[Little, mermaid, handmade, dress, Disney, Lit..."

In [40]:
data_df = process_sentence(data_df, 'description')
data_df

MemoryError: Unable to allocate 31.6 GiB for an array with shape (846982, 5000) and data type float64

In [ ]:
label = data_df['price_x'].copy()
features = data_df.drop('price_x', axis=1)
features

,item_condition_id,category_name,00,00gb,01,015,034oz,05,05oz,09,...,zebra,zelda,zen,zero,zip,zipper,zippers,zoidberg,zoom,zx
1,3,Electronics/Computers & Tablets/Components & P...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,1,Women/Tops & Blouses/Blouse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
6,3,Women/Swimwear/Two-Piece,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
7,3,Sports & Outdoors/Apparel/Girls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
8,3,Sports & Outdoors/Apparel/Girls,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,2,"Women/Jeans/Slim, Skinny",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.222132,0.0,0.0
988,4,Women/Athletic Apparel/Tracksuits & Sweats,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
989,3,Women/Women's Handbags/Messenger & Crossbody,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
995,2,"Women/Jeans/Slim, Skinny",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
999,4,Kids/Toys/Dolls & Accessories,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.15, random_state=42)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder


# Identifying each attribute for pipeline use
num_attribs = []
cat_attribs = ['category_name']

num_pipeline = Pipeline([
    ('std_scaler', StandardScaler())
])

full_pipeline = ColumnTransformer([
    ('num', num_pipeline, num_attribs),   #returns a dense matrix
    ('cat', OneHotEncoder(), cat_attribs) #returns a sparse matrix
])

In [ ]:
full_pipeline = full_pipeline.fit(X_train)
X_train_prep = full_pipeline.transform(X_train)
X_test_prep = full_pipeline.transform(X_test)